<div id="na_stores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ["Add Store", new_na_store_path] %>
      </div>
    </div>
  </div>

  <%= page_header "North American Stores" %>

  <%= render partial: 'table', locals: {na_stores: @na_stores} %>

  <%= render partial: 'parts/pagination', locals: {collection: @na_stores} %>
</div>

<script>
  $(document).ready(function(){
    activateTable('#na_store_table', 'location', 'asc');
    updateCurrentPlaylistOnCheck('na');
  });
</script>
