<div id="intl_stores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ["Add Store", new_intl_store_path] %>
      </div>
    </div>
  </div>

  <%= page_header "International Stores" %>

  <%= render partial: 'intl_stores/table', locals: {intl_stores: @intl_stores} %>
</div>

<script>
// $(document).on("turbolinks:load", function(){
//   activateTable('#intl_store_table', 'country', 'asc');
//   updateCurrentPlaylistOnCheck('intl');
// });

$(document).ready(function(){
  activateTable('#intl_store_table', 'country', 'asc');
  updateCurrentPlaylistOnCheck('intl');
});
</script>
