@import 'variables';
@import 'bootstrap';
@import 'farm_shed/all';
@import 'parts';
@import 'tables';
@import 'playlists';

body{
  padding-top: 60px;
  background-color: $main_contrast;
}

#main_content{
  background-color: white;
  padding-bottom: 50px;
}

.section_seperator{
  // border-top: 1px double $main_contrast;
  margin-bottom: 20px;
  margin-top: 20px;
}
