@import 'variables';
@import 'bootstrap';
@import 'farm_shed/all';
@import 'parts';
@import 'tables';
@import 'store_lists';

body{
  padding-top: 50px;
}

.section_seperator{
  // border-top: 1px double $main_contrast;
  margin-bottom: 20px;
  margin-top: 20px;
}
